<h1><span style="color: lightblue;">Performing Data Wrangling ‚ö°Ô∏è</span></h1>

## üåü Step 1
<h2><span style="color: yellow;">Data Gathering üåé </span></h2>

In [57]:
# Importing required modules
import re
import pandas as pd
import numpy as np

In [17]:
# Import from CSV
patients = pd.read_csv('patients.csv')
treatments = pd.read_csv('treatments.csv')
adverse_reactions = pd.read_csv('adverse_reactions.csv')
treatments_cut = pd.read_csv('treatments_cut.csv')

- Gather data from CSV file.
- Got this dataset to practice from CampusX { https://github.com/campusx-official/data-wrangling/blob/master/Data%20Wrangling.ipynb }.

## üåü Step 2
<h2><span style="color: yellow;">Data  Assessments üåé </span></h2>  
- In this step, the data is to be understood more deeply. Before implementing methods to clean it, you will definitely need to have a better idea about what the data is about.<br>
- Basically a whole summary of data.<br>
- Data assessment is often an iterative process.<br>
    
<h2><span style="color: red;"> üõë Step 1 Discover </span></h2>  
- View datasets.<br>
- Check shape of the data.<br>
    
### üî• Automatic Assessments 
- Programmatic.<br>
- Using Pandas.<br>
  - `head and tail`
  - `describe`
  - `sample`
  - `info`
  - `isnull`
  - `duplicated`

In [7]:
# Head view
treatments.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrov√°,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

In [8]:
# Tail view
treatments_cut.tail()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
65,rovzan,kishiev,32u - 37u,-,7.75,7.41,0.34
66,jakob,jakobsen,-,28u - 26u,7.96,7.51,0.95
67,bernd,schneider,48u - 56u,-,7.74,7.44,0.30
68,berta,napolitani,-,42u - 44u,7.68,7.21,NaN
69,armina,sauv√©,36u - 46u,-,7.86,7.40,NaN

In [9]:
# Dimension of data
treatments_cut.shape

(70, 7)

In [10]:
# Checking non null values in colomns
adverse_reactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   given_name        34 non-null     object
 1   surname           34 non-null     object
 2   adverse_reaction  34 non-null     object
dtypes: object(3)
memory usage: 948.0+ bytes

In [11]:
# Describe statistcal view of data
treatments.describe()

       hba1c_start   hba1c_end  hba1c_change
count   280.000000  280.000000    171.000000
mean      7.985929    7.589286      0.546023
std       0.568638    0.569672      0.279555
min       7.500000    7.010000      0.200000
25%       7.660000    7.270000      0.340000
50%       7.800000    7.420000      0.380000
75%       7.970000    7.570000      0.920000
max       9.950000    9.580000      0.990000

In [12]:
# Counting Duplicates
adverse_reactions[adverse_reactions.duplicated()].count()

given_name          0
surname             0
adverse_reaction    0
dtype: int64

In [23]:
# Checking null values 
patients.isnull().sum()

patient_id       0
assigned_sex     0
given_name       0
surname          0
address         12
city            12
state           12
zip_code        12
country         12
contact         12
birthdate        0
weight           0
height           0
bmi              0
dtype: int64

In [24]:
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patient_id    503 non-null    int64
 1   assigned_sex  503 non-null    object
 2   given_name    503 non-null    object
 3   surname       503 non-null    object
 4   address       491 non-null    object
 5   city          491 non-null    object
 6   state         491 non-null    object
 7   zip_code      491 non-null    float64
 8   country       491 non-null    object
 9   contact       491 non-null    object
 10  birthdate     503 non-null    object
 11  weight        503 non-null    float64
 12  height        503 non-null    int64
 13  bmi           503 non-null    float64
dtypes: float64(3), int64(2), object(9)
memory usage: 55.1+ KB

### üî• Manual Assessments 
- Export data into excel sit and watch for hours to the data or ooking through the data manually in google sheets.

In [ ]:
# Exporting to excel sheet
with pd.ExcelWriter('clinical_trials.xlsx') as writer:
  patients.to_excel(writer,sheet_name='patients')
  treatments.to_excel(writer,sheet_name='treatments')
  treatments_cut.to_excel(writer,sheet_name='treatment_cut')
  adverse_reactions.to_excel(writer,sheet_name='adverse_reactions')

<h2><span style="color: red;"> üõë Step 2 Document </span></h2> 
- Summary (Refer to readme.md file in the repo)<br>
- Address issues within the dataset combine and make documents<br>

## üåü Step 3
<h2><span style="color: yellow;">Data Cleaning or Data Quality Dimensions‚ú®</span></h2>

In [27]:
# Making a copy of all dataset
patients_df = patients.copy()
treatments_df = treatments.copy()
treatments_cut_df = treatments_cut.copy()
adverse_reactions_df = adverse_reactions.copy()

`Always make sure to create a copy of your pandas dataframe before you start the cleaning process`

In [28]:
# Changing datatype zip_code
patients_df['zip_code'] = patients_df['zip_code'].astype('object')
# Filing null values with No data
patients_df.fillna('No data', inplace=True)

## üåü Step 4
<h2><span style="color: yellow;">Feature Engineering‚ú®</span></h2>

In [30]:
# Updating current feature hba1c_change because of corrupted values
treatments_df['hba1c_change'] = treatments_df['hba1c_start'] - treatments_df['hba1c_end'] 
# In both table
treatments_cut_df['hba1c_change'] = treatments_cut_df['hba1c_start'] - treatments_cut_df['hba1c_end']

In [31]:
def find_contact_details(text: str) -> tuple:
    # it the value is NaN, then return it
    if pd.isna(text):
        return np.nan
    
    # create the phone number pattern
    phone_number_pattern = re.compile(r"(\+[\d]{1,3}\s)?(\(?[\d]{3}\)?\s?-?[\d]{3}\s?-?[\d]{4})")
    # find the phone number from the value/text, as a result we will get a list
    phone_number  = re.findall(phone_number_pattern, text)

    # if length is 0, then the regex can't find any ph number, then define with NaN
    if len(phone_number) <= 0:
        phone_number = np.nan
    # if the country code is attached with the ph number, for that case, the first
    # element will be the country code and the 2nd element will be the actual ph
    # number. So, get that ph number
    elif len(phone_number) >= 2:
        phone_number = phone_number[1]
    # else, we will get the ph number. Grab it.
    else:
        phone_number = phone_number[0]

    # if we found the ph number (with/without country code), then remove that part from the actual value.
    # after removing the ph number, the remaining string might be the email address.
    possible_email_add = re.sub(phone_number_pattern, "", text).strip()

    # then return the ph number and the email address
    return phone_number, possible_email_add

In [32]:
# Creating two new feature phone and email
patients_df['phone'] = patients_df["contact"].apply(lambda x: find_contact_details(x)).apply(lambda x:x[0])
patients_df['email'] = patients_df["contact"].apply(lambda x: find_contact_details(x)).apply(lambda x:x[1])

In [43]:
# Drop patients
patients_df.drop(columns='contact',inplace=True)

In [46]:
# Joining treatments and treatments cuts 
treatments_df = pd.concat([treatments_df,treatments_cut_df])

In [47]:
treatments_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 420 entries, 0 to 69
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   given_name    420 non-null    object
 1   surname       420 non-null    object
 2   auralin       420 non-null    object
 3   novodra       420 non-null    object
 4   hba1c_start   420 non-null    float64
 5   hba1c_end     420 non-null    float64
 6   hba1c_change  420 non-null    float64
dtypes: float64(3), object(4)
memory usage: 26.2+ KB

In [48]:
def lb_to_kg(pounds):
    return pounds * 0.453592

In [49]:
# Updating feature
patients_df['weight'] = patients_df["weight"].apply(lambda x: lb_to_kg(x))

In [62]:
# Creating new feature insulin from present columns
treatments_df['insulin'] = treatments_df['auralin'].apply(lambda x: 'novodra' if x == '-' else 'auralin')

In [168]:
treatments_df['dose'] = treatments_df['auralin'].apply(lambda x: x if x != '-' else '-')

In [196]:
treatments_df

,given_name,surname,hba1c_start,hba1c_end,hba1c_change,insulin,dose
0,veronika,jindrov√°,7.63,7.20,0.43,auralin,41u - 48u
1,elliot,richardson,7.56,7.09,0.47,novodra,40u - 45u
2,yukitaka,takenaka,7.68,7.25,0.43,novodra,39u - 36u
3,skye,gormanston,7.97,7.62,0.35,auralin,33u - 36u
4,alissa,montez,7.78,7.46,0.32,novodra,33u - 29u
...,...,...,...,...,...,...,...
65,rovzan,kishiev,7.75,7.41,0.34,auralin,32u - 37u
66,jakob,jakobsen,7.96,7.51,0.45,novodra,28u - 26u
67,bernd,schneider,7.74,7.44,0.30,auralin,48u - 56u
68,berta,napolitani,7.68,7.21,0.47,novodra,42u - 44u
69,armina,sauv√©,7.86,7.40,0.46,auralin,36u - 46u

In [ ]:
# Dose storing dose of medicine
treatments_df.loc[treatments_df['dose'] == "-", 'dose'] = treatments_df.loc[treatments_df['dose'] == "-", 'novodra']

In [65]:
# Droping useless columns
treatments_df.drop(columns='auralin',inplace=True)
treatments_df.drop(columns='novodra',inplace=True)

In [68]:
# Drop duplicates
treatments_df = treatments_df.drop_duplicates()

In [201]:
# Save to CSV
treatments_df.to_csv('treatments_cleaned_data.csv', index=False)
patients_df.to_csv('patients_cleaned_data.csv', index=False)
adverse_reactions_df.to_csv('adverse_reactions_data.csv', index=False)